Source: siduction-scripts
Section: misc
Priority: extra
Maintainer: Ferdinand Thommes <devil@siduction.org>
Uploaders: Alf Gaida <agaida@siduction.org>
XSBC-Maintainer:Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9),
   libconfig-tiny-perl
Standards-Version: 3.9.3
Vcs-Git:git://git.siduction.org/packages/siduction-repository/siduction-scripts.git
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/siduction-scripts.git;a=summary

Package: siduction-scripts
Architecture: all
Depends: ${misc:Depends},
 perl,
 distro-defaults,
 wodim,
 bash,
 curl
Recommends: menu,
 ntpdate,
 scrot
Description: miscellaneous scripts for siduction
 Script collection for live and install uses on siduction:
  * burniso (write an ISO image from cli)
  * fix-dpi-kdm (tweak dpi settings for kdm/ KDE)
  * fix-ssh (generate ssh host keys, which are missing on the live system)
  * fix-time (configure timezone and sync time via ntp)
  * fw-detect (identify missing firmware for installed hardware)
  * get-resume-partition (configure a resume (swap) partition based on UUIDs)
  * inetconn (check if an internet connection is active)
  * remove-gateway (remove configured gateways from /etc/network/interfaces)
  * remove-orphans (purge files which were merely removed)
  * siduction-paste (paste cli output, text files, images and screenshots to \
    our pastebin)
